$clr-neutral-100: hsl(0 0% 100%);
$clr-neutral-200: hsl(225, 100%, 98%);
$clr-neutral-400: hsl(223, 23%, 55%, 1);
$clr-neutral-800: hsl(223, 47%, 23%);

$clr-primary-200: hsl(225, 100%, 94%);
$clr-primary-300: hsla(245, 100%, 94%);
$clr-primary-400: hsl(245, 75%, 52%);

$fs-700: 1.75rem;
$fs-400: 1rem;
$fs-300: 0.875rem;

$fw-400: 500;
$fw-700: 700;
$fw-900: 900;

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Red Hat", sans-serif;
  font-size: $fs-400;
  font-weight: $fw-400;
  line-height: 1.6;
  color: $clr-neutral-400;
  background-color: $clr-primary-200;

  //   demo

  display: grid;
  place-items: center;
  //   min-height: 100vh;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
h2 {
  font-style: $fs-700;
  color: $clr-neutral-800;
  font-weight: $fw-900;
}

// Composition
// .flow > :where(:not(:first-child)) {
//   margin-top: var(--flow-spacer, 1em);
//   border: 1px solid;
// }
.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex-row {
  display: flex;
  align-items: center;

  gap: var(--gap, 1rem);
}

// Utility

.padding-24 {
  padding: 1.5rem;
}

.padding-48 {
  padding: 3rem;
}
.text-neutral-800 {
  color: $clr-neutral-800;
}
.text-neutral-400 {
  color: $clr-neutral-400;
}
.bg-neutral-100 {
  background-color: $clr-neutral-100;
}

.bg-neutral-200 {
  background-color: $clr-neutral-200;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.fw-bold {
  font-weight: $fw-700;
}
.fw-black {
  font-weight: $fw-900;
}
.br-1 {
  border-radius: 0.5rem;
}
.br-2 {
  border-radius: 1rem;
}
.push-right {
  margin-left: auto;
}
a,
.link {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: $clr-primary-400;
  text-decoration: underline;
  font-weight: $fw-700;
}
aا:hover,
a:focus,
.link:hover,
.link:focus {
  color: $clr-primary-300;
  text-decoration: none;
}

// block

.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;

  font-weight: $fw-400;

  background: transparent;
  padding: 1em 2em;
  transition: all 0.3s ease;

  &[data-type="primary"] {
    color: $clr-neutral-100;
    background: $clr-primary-400;
  }
  &[data-type="primary"]:hover,
  &[data-type="primary"]:focus {
    background: $clr-primary-300;
  }

  &[data-type="naked"] {
    color: $clr-neutral-400;
    padding: 0;
  }
  &[data-type="naked"]:hover,
  &[data-type="naked"]:focus {
    color: $clr-neutral-800;
  }
}
.card {
  overflow: hidden;
  // for demo only
  max-width: 450px;
}
